tr.player {
    cursor: pointer;
    transition: 0.2s ease;
}

tr.player:hover {
    background-color: var(--bgColor2);
}

th.playerName,
td.playerName {
    width: 37.5% !important;
}

th.playerCoords,
td.playerCoords {
    width: 12.5% !important;
}

th.playerWorld,
td.playerWorld {
    width: 37.5% !important;
}

th.playerAfk,
td.playerAfk {
    width: 12.5% !important;
}

td.playerCoords {
    font-size: 14px;
}
