:root {
    --bgColor: rgb(19, 21, 29);
    --bgColor2: rgb(28, 30, 41);
    --bgColor3: rgb(37, 43, 56);
    --textColor: rgb(212, 212, 212);
}

@font-face {
    src: url("../fonts/Glober SemiBold.otf");
    font-family: "Glober SemiBold";
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: calc(max-content + 2.5vw);
    height: max-content;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    background-color: var(--bgColor);
    color: var(--textColor);
    font-weight: normal;
    font-size: 16px;
}

table {
    border-spacing: 0;
}

tr {
    border-spacing: 0;
}

th {
    font-weight: normal;
    font-size: 18px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

td {
    padding: 2.5px;
    border: 0.5px solid grey;
    border-spacing: 0;
    font-size: 16px;
}

select.dropdown {
    width: 90px;
    height: 25px;
    color: var(--textColor);
    border: 2px solid var(--bgColor3);
    background-color: var(--bgColor);
    cursor: pointer;
    user-select: none;
    transition: 0.2s ease-out;
}

select.dropdown:focus {
    background-color: var(--bgColor3);
    outline: 1px solid #bbbbbb;
    box-shadow: 0 0 5px var(--textColor);
}

select.dropdown:hover {
    background-color: var(--bgColor3);
}

::-webkit-scrollbar {
    width: 10px;
    padding: 1px;
}

::-webkit-scrollbar-track {
    background-color: var(--bgColor);
}

::-webkit-scrollbar-thumb {
    background: #464646ef;
    border: 2.5px solid var(--bgColor);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: #3b3b3bef;
}

#sections {
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: calc(max-content - 2.5vw);
    margin: 2.5vw 0 2.5vw 2.5vw;
}

#sections #selection {
    display: flex;
    flex-direction: row;
    gap: 0.5px;
    height: 25px;
    margin-left: 5px;
}

#selection div.tab {
    position: relative;
    width: 75px;
    background-color: var(--bgColor2);
    border: 1px solid grey;
    -moz-border-radius: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
    transition: 0.2s ease-out;
    user-select: none;
}

#selection div.tab.selected {
    background-color: var(--bgColor3);
}

#selection div.tab:hover {
    filter: brightness(110%);
}

#selection span.tabTitle {
    font-size: 18px;
    margin: 5px;
}

#sections div.section {
    width: 100%;
    height: 100%;
    display: none;
    border: 2px solid rgb(190, 190, 190);
    border-radius: 2.5px;
}

#sections div#towns.selected {
    display: flex;
}

#sections div#players.selected {
    display: block;
}

#towns {
    position: relative;
    display: flex;
    flex-direction: row;
    transform: translateY(0.1px);
}

#townsList {
    font-size: 16px;
    font-weight: normal;
    width: 60%;
}

tr.town.deleted {
    color: rgb(231, 81, 76);
}

#deletedTowns {
    font-size: 16px;
    font-weight: normal;
    width: 40%;
    height: max-content;
}

#playersList {
    font-size: 16px;
    font-weight: normal;
    width: 100%;
}

#updateWrapper {
    position: absolute;
    right: calc(2.5vw - 4.25px);
    top: 7.5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#updateTimeDropdown {
    padding: 7.5px;
    transform: translate(2.5px, -2px);
}

#update {
    user-select: none;
    width: 60px;
    height: 12.5px;
    line-height: 70%;
    font-size: 16px;
    padding: 10px;
    border: 2px solid var(--bgColor2);
    background-color: var(--bgColor);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out,
        transform 0.025s ease-out;
}

#update:hover {
    background-color: var(--bgColor2);
}

#update:active {
    background-color: var(--bgColor3);
    border-color: var(--bgColor3);
    transform: scale(95%);
}

#infoWindow {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(40%, -50%);
    min-width: 550px;
    width: max-content;
    height: max-content;
    padding: 25px;
    background-color: var(--bgColor);
    overflow: hidden;
    border: 2px solid var(--bgColor3);
    z-index: 101;
}

#infoWindow ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

span.closeWindow {
    cursor: pointer;
    z-index: 102;
    border: 1px solid var(--bgColor2);
    padding: 5px 7.5px;
    transition: 0.2s ease-out;
}

span.closeWindow:hover {
    background-color: var(--bgColor2);
}

#blockClicks {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}
