tr.town {
    cursor: pointer;
    transition: 0.2s ease;
}

tr.town:hover {
    background-color: var(--bgColor2);
}

th.townName,
td.townName {
    width: 27.5% !important;
    height: 24px !important;
}

th.townNation,
td.townNation {
    width: 27.5% !important;
    height: 24px !important;
}

th.townMayor,
td.townMayor {
    width: 22.5% !important;
    height: 24px !important;
}

th.townSpawn,
td.townSpawn {
    width: 22.5% !important;
    height: 24px !important;
}

td.townSpawn {
    font-size: 14px;
}

th.deletedTowns {
    height: 24px !important;
}
